/* GENERICS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* UTILS */

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.sale {
  color: white;

  font-weight: bold;

  padding: 0.2rem 0.6rem;
}

.card span {
  font-size: 0.9rem;
}
.red {
  background-color: #ff0000;
}

.green {
  background-color: #008000;
}

.sale-position {
  position: absolute;
  left: 0;
  bottom: 105px;
}

/* HEADER */

.bg-orange {
  background-color: #ff6900;
  min-height: 70px;
}

.bg-deb {
  min-height: 70px;
}

.logo {
  height: 2rem;
  align-items: center;
}

/* NAV */

nav div > a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 0.4rem;
}

/* MAIN */

main {
  padding-top: 60px;
}

.card {
  width: 32%;
  min-height: 700px;
  position: relative;
  border: 1px dashed black;
}

.main-image {
  max-width: 100%;
}

.price-after {
  color: #ff0000;
  font-weight: bold;
}

.price-before {
  text-decoration: line-through;
}

.heart {
  background-color: white;
  font-size: 2.1rem;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 0;
}

.heart:hover {
  color: #ff0000;
}
